<template>
  <div class="blog">
    <section class="section ls-cards-grid">
      <div class="container blog">
        <router-view />
      </div>
    </section>
  </div>
</template>

<style lang="scss" >
 
.blog{

  h2 {
    font-size: xx-large;
    margin-bottom: 10px; 
  }

  p {
    margin: 15px;
    font-size: large;
    text-align: justify;
  }

}

</style>