 <template>

  <header class="hero ls-main-hero has-background-primary">
    <div class="hero-head">
      <!--<b-notification type="is-warning" :active.sync="isActive" aria-close-label="Schließen" class="corona-notificaton" >
          Unser aktuelles Corona Projekt: <b>Code for Hamburg hilft den Helfer*innen! </b><router-link to="/2020/Corona-Hilfe" class="ls-bottom-link">Zum Blogpost</router-link> 
      </b-notification>-->

      <nav class="navbar container ls-main-nav">
        <div class="navbar-brand">
          <a href="/" class="navbar-item">
            <img src="../assets/img/cfhh-logo.png" srcset="../assets/img/cfhh-logo@2x.png 320w, ../assets/img/cfhh-logo@4x.png 1024w" title="Code for Hamburg Lab" width="80"/>
            <span style="padding-left: 20px; color: white; font-size: x-large; font-weight: bold">Code for Hamburg</span>
          </a>
          <a role="button" class="navbar-burger has-text-warning" data-target="mainNavMenu" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div class="navbar-menu" id="mainNavMenu">
          <div class="navbar-end has-text-warning">
            <router-link to="/" class="navbar-item is-size-7">Start</router-link>
            <router-link to="/team" class="navbar-item is-size-7">Team</router-link>
            <!--<a href="/#verein" class="navbar-item is-size-7">Verein</a>-->
            <router-link to="/#projekte" class="navbar-item is-size-7">Projekte</router-link>
            <router-link to="/#freunde" class="navbar-item is-size-7">Freunde & Unterstützer</router-link>
            <router-link to="/blog" class="navbar-item is-size-7">Blog</router-link>
            <router-link to="/#kontakt" class="navbar-item is-size-7">Kontakt</router-link>
            <a href="https://meetup.com/codeforhamburg" target="_blank" class="navbar-item is-size-7">
              Termine
            </a>
          </div>
        </div>
      </nav>
    </div>
      <div class="hero-body container">
        <div class="columns">
          <div class="column left is-5-desktop">
            
            <!-- NEWS - Flag mit Nachricht -->
            <!--<div class="ls-banner has-text-white">
              <span class="tag is-success has-text-info is-size-6-mobile is-size-7">New</span>
              <span class="ls-banner--text is-size-6-mobile is-size-7">Impress your clients and visitors while using a single, rock-solid foundation.</span>
              <span class="ls-banner--icon">
                <i aria-hidden="true" class="fas fa-chevron-right"></i>
              </span>
            </div>-->

            <h1 class="title is-size-2-mobile is-1 is-spaced has-text-white">Willkommen beim offenen Digital-Stadtlabor!</h1>
            <h2 class="subtitle is-5 has-text-white">
              Bei Code for Hamburg wird seit 2014 herumexperimentiert, Ideen entwickelt, Apps programmiert und 
              sehr gerne die Begeisterung für offenes Wissen, offene Daten und auf offenem Quellcode basierende Innovationen 
              geteilt!
            </h2>
            <div class="buttons">
              <!-- <a class="ls-button button has-text-weight-bold is-success">Download Theme</a> -->
              <!--<a class="ls-button button has-text-weight-bold is-success">Projekteübersicht</a>-->
              <a class="ls-button button has-text-weight-bold is-info" href="https://www.meetup.com/de-DE/CodeforHamburg/" target="_blank">Termine auf Meetup.com</a>
            </div>
          </div>
          <div class="column right is-6-desktop is-offset-1-desktop">
            <img class="ls-main-hero--image" src="../assets/img/welcome.jpg" title="Photo by ??? from Open Knowledge Foundation" />
          </div>
        </div>
      </div>
  </header>
</template>

<script>

document.addEventListener('DOMContentLoaded', () => {

  // Get all "navbar-burger" elements
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Check if there are any navbar burgers
  if ($navbarBurgers.length > 0) {

    // Add a click event on each of them
    $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {

        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');
      });
    });
  }

});

export default {
  name: 'Header',
  data () {
    return {
      isActive: true
    }
  }
}
</script>

<style lang='scss'>
  .corona-notificaton .media-content{
      text-align:center
  }
</style>
