<template>
  <div>    
    <section class="">
      <div class="hero-body container">
        <h1 class="title is-size-2-mobile is-1 is-spaced">Impressum</h1>

        <p>
          <strong>Vereinsadresse:</strong><br>
          Code for Hamburg e.V.<br />
          CAYA Postbox 797901<br />
          96035 Bamberg<br />
        </p>
        
        <br />
        
        <p>
          <strong>Unser Vorstand:</strong><br>
          Christopher Bohlens<br />
          Timo Lundelius<br />
          Marco Maas<br />
        </p>
        <br />

        <p>
          <strong>E-Mail:</strong> lab@codeforhamburg.org<br>
          <!-- <strong>Telefon:</strong> ???<br> -->
          <!-- <strong>Fax:</strong> ??? -->
        </p>
<!--
        <p><a href="https://www.openstreetmap.org/way/29386807">OpenStreetMap</a> - <a href="https://www.google.com/maps/place/Singerstra%C3%9Fe+109,+10179+Berlin/@52.5167261,13.4232556,17z/data=!3m1!4b1!4m5!3m4!1s0x47a84e3db119b3fd:0x9131b3b816d6709!8m2!3d52.5167261!4d13.4254443?hl=en">Google Maps</a></p>
-->
        <p>
          <strong>Vereinsregister Nr:</strong> VR 23856 <br> 
          <strong>Registergericht:</strong> Amtsgericht Hamburg
        </p>

        <h3 id="haftungsausschluss" class="title has-text-dark">Haftungsausschluss</h3>

        <p>Inhaltlich verantwortlich gemäß § 55 Abs. 2 RStV ist der jeweilige Autor eines Textes.</p>

        <h3 id="haftungfrinhalte" class="title has-text-dark">Haftung für Inhalte</h3>

        <p>Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen. Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach § 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.</p>

        <h3 id="haftungfrlinks" class="title has-text-dark">Haftung für Links</h3>

        <p>Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.</p>

        <h3 id="urheberrecht" class="title has-text-dark">Urheberrecht</h3>

        <p>Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Sie sind mit einer Creative Commons Lizenz urheberrechtlich geschützt. Sofern nicht anders angegeben, stehen die Inhalte dieser Seite unter der Creative Commons Namensnennung 3.0 DE Lizenz. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.</p>

        <div id="datenschutzerklaerung"></div>

        <h1 class="title is-size-2-mobile is-1 is-spaced">Datenschutzerklärung</h1>

        <p>Der Code for Hamburg e.V., CAYA Postbox 797901, 96035 Bamberg Deutschland (nachfolgend als „Code for Hamburg“ oder „wir“ bezeichnet) betreibt die im Internet unter https://okfn.de/ und den jeweils dazu gehörenden Unterverzeichnissen abrufbare Internetseite (nachfolgend „okfn.de“ oder die „Website“).</p>

        <p>Code for Hamburg möchte Ihnen mit dieser Datenschutzerklärung erläutern, welche Daten in welcher Form verarbeitet werden, wenn Sie unsere Website besuchen. Hiermit kommen wir zugleich unserer Informationspflicht gem. Art. 13 Datenschutz-Grundverordnung (DS-GVO) Ihnen gegenüber nach.</p>

        <h3 id="iverantwortlicherundkontaktmglichkeitendesdatenschutzbeauftragten" class="title has-text-dark">I. Verantwortlicher und Kontaktmöglichkeiten des Datenschutzbeauftragten</h3>

        <p>Der datenschutzrechtlich Verantwortliche für die auf unserer Website stattfindenden Datenverarbeitungen ist der</p>

        <p>
          Code for Hamburg e.V.<br/>
          CAYA Postbox 797901<br/>
          96035 Bamberg <br />
        </p>

        <p>
          E-Mail: lab@codeforhamburg.org
        </p>
        <br />
        <p>Unser Datenschutzbeauftragter ist erreichbar unter:</p>

        <p>Code for Hamburg e.V.<br>
          Datenschutzbeauftragter -<br>
          CAYA Postbox 797901<br>
          96035 Bamberg<br>
          Deutschland<br>
          <br>
          datenschutz@codeforhamburg.org
        </p>
          

        <h3 id="iipersonenbezogenedatenzweckeundrechtsgrundlagederdatenverarbeitung" class="title has-text-dark">II. Personenbezogene Daten, Zwecke und Rechtsgrundlage der Datenverarbeitung</h3>

        <h4 id="1personenbezogenedaten">1. Personenbezogene Daten</h4>

        <p>Nach der DS-GVO sind personenbezogene Daten „alle Informationen, die sich auf eine identifizierte oder identifizierbare natürliche Person (im Folgenden „betroffene Person“) beziehen; als identifizierbar wird eine natürliche Person angesehen, die direkt oder indirekt, insbesondere mittels Zuordnung zu einer Kennung wie einem Namen, zu einer Kennnummer, zu Standortdaten, zu einer Online-Kennung oder zu einem oder mehreren besonderen Merkmalen identifiziert werden kann, die Ausdruck der physischen, physiologischen, genetischen, psychischen, wirtschaftlichen, kulturellen oder sozialen Identität dieser natürlichen Person sind.</p>

        <h4 id="2allgemeinenutzungderwebsite">2. Allgemeine Nutzung der Website</h4>

        <p>Wir erheben und speichern im Zuge Ihres Besuchs auf unserer Website keine personenbezogenen Daten.</p>

        <p>Unbeschadet der vorstehenden grundsätzlichen Gegebenheiten registriert aber der Webserver unseres Hosters automatisch Zugriffe auf die Websites und dabei insbesondere Ihre IP-Adresse.</p>

        <p>Zudem legt unser Hoster zur Erhaltung der Systemsicherheit sog. Logfiles an. Diese Logfiles enthalten die folgenden Informationen:</p>

        <ul>
          <li>die IP - Adresse</li>
          <li>Datum des Zugriffs</li>
          <li>die URL</li>
          <li>Inhalte auf die zugegriffen wurde sowie</li>
          <li>die übertragenen Informationen</li>
        </ul>

        <p>Diese Informationen bleiben für uns anonym. Ein Rückschluss auf eine Person ist somit nicht möglich.</p>

        <p>Nehmen Sie unter der auf unserer Website angegebenen E-Mail-Adresse Kontakt zu uns auf, teilen Sie uns zumindest Ihre E-Mail-Adresse mit, sowie gegebenenfalls weitere Informationen, die Sie in Ihrer E-Mail preisgeben. Damit wir Ihr Anliegen bearbeiten können, müssen wir diese Daten verarbeiten.</p>

        <h4 id="3zweckeundrechtsgrundlagederdatenverarbeitung">3. Zwecke und Rechtsgrundlage der Datenverarbeitung</h4>

        <p>Die Verarbeitung Ihrer IP-Adresse während des Verbindungsaufbaus erfolgt, damit wir Ihnen unsere Website zur Verfügung stellen können. Sie basiert auf Art. 6 Abs. 1 lit. f) DS-GVO. Unser berechtigtes Interesse besteht im genannten Zweck.</p>

        <p>Die Verarbeitung im Rahmen einer Kontaktaufnahme erfolgt, damit wir Ihre Anfrage bearbeiten und beantworten könne. Die Rechtsgrundlage ist Art. 6 Abs. 1 lit. f) DS-GVO. Unser berechtigtes Interesse liegt im soeben genannten Zweck.</p>

        <h3 id="iiiempfngerderdaten" class="title has-text-dark">III. Empfänger der Daten</h3>

        <p>Innerhalb unseres Unternehmens haben jeweils die Abteilungen auf Ihre Daten Zugriff, die für die Bearbeitung der Anliegen zuständig sind. Zudem setzen wir externe Dienstleister ein, soweit wir Leistungen nicht oder nicht sinnvoll selbst vornehmen können. Diese externen Dienstleister sind dabei vor allem Anbieter von IT-Dienstleistungen und Telekommunikationsdienste.</p>

        <p>Eine Übermittlung in Drittstaaten findet grundsätzlich nicht und nur dann statt, soweit sie zur Ausführung Ihrer Aufträge erforderlich ist, gesetzlich vorgeschrieben ist oder Sie uns Ihre Einwilligung hierzu erteilt haben.</p>

        <h3 id="ivspeicherdauer" class="title has-text-dark">IV. Speicherdauer</h3>

        <p>Ihre E-Mails und Kontaktaufnahmen speichern wir so lange, wie es zur Bearbeitung Ihrer Anfrage erforderlich ist und speichern Sie anschließend für einen Zeitraum von 3 Jahren, falls Sie sich bezugnehmend auf Ihre ursprüngliche Frage noch einmal an uns wenden.</p>

        <h3 id="vbetroffenenrechte" class="title has-text-dark">V. Betroffenenrechte</h3>

        <p>Die Datenschutz-Grundverordnung garantiert Ihnen gewisse Rechte, die Sie uns gegenüber – soweit die gesetzlichen Voraussetzungen vorliegen – geltend machen können.</p>

        <ul>
          <li><p><strong>Art. 15 DS-GVO – Auskunftsrecht der betroffenen Person</strong>: Sie haben das Recht, von uns eine Bestätigung darüber zu verlangen, ob Sie betreffende personenbezogene Daten verarbeitet werden und wenn ja, welche dies sind sowie die näheren Umstände der Datenverarbeitung.</p></li>
          <li><p><strong>Art. 16 DS-GVO – Recht auf Berichtigung</strong>: Sie haben das Recht, von uns unverzüglich die Berichtigung Sie betreffender unrichtiger personenbezogener Daten zu verlangen. Dabei haben Sie unter Berücksichtigung der Zwecke der Verarbeitung auch das Recht, die Vervollständigung unvollständiger personenbezogener Daten – auch mittels einer ergänzenden Erklärung – zu verlangen.</p></li>
          <li><p><strong>Art. 17 DS-GVO – Recht auf Löschung</strong>: Sie haben das Recht, von uns zu verlangen, dass Sie betreffende personenbezogene Daten unverzüglich gelöscht werden. Beachten Sie hier bitte die unter Punkt II. 4 beschriebene Ausnahme</p></li>
          <li><p><strong>Art. 18 DS-GVO – Recht auf Einschränkung der Verarbeitung</strong>: Sie haben das Recht, von uns die Einschränkung der Verarbeitung zu verlangen.</p></li>
          <li><p><strong>Art. 20 DS-GVO – Recht auf Datenübertragbarkeit</strong>: Sie haben das Recht, im Falle der Verarbeitung aufgrund einer Einwilligung oder zur Erfüllung eines Vertrags, die Sie betreffenden personenbezogenen Daten, die Sie uns bereitgestellt haben, in einem strukturierten, gängigen und maschinenlesbaren Format zu erhalten, und diese Daten einem anderen Verantwortlichen ohne Behinderung durch uns zu übermitteln oder die Daten direkt an den anderen Verantwortlichen übermitteln zu lassen, soweit dies technisch machbar ist.</p></li>
          <li><p><strong>Art. 21 DS-GVO – Widerspruchsrecht</strong>: Sie haben das Recht, aus Gründen, die sich aus ihrer besonderen Situation ergeben, jederzeit gegen die Verarbeitung Sie betreffender personenbezogener Daten, die aufgrund eines berechtigten Interesses unsererseits oder zur Wahrung einer Aufgabe im öffentlichen Interesse erforderlich ist, oder die in Ausübung öffentlicher Gewalt erfolgt, Widerspruch einzulegen.</p>
          <p>Legen Sie Widerspruch ein, werden wir Ihre personenbezogenen Daten nicht mehr verarbeiten, es sei denn, wir können zwingende schutzwürdige Gründe für die Verarbeitung nachweisen, die Ihre Interessen, Rechte und Freiheiten überwiegen, oder die Verarbeitung dient der Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen.</p>

          <p>Soweit wir Ihre personenbezogenen Daten verarbeiten, um Direktwerbung zu betreiben, haben Sie das Recht, jederzeit Widerspruch gegen die Verarbeitung einzulegen. Widersprechen Sie der Verarbeitung für Zwecke der Direktwerbung, so werden wir Ihre personenbezogenen Daten nicht mehr für diese Zwecke verarbeiten.</p></li>

          <li><p><strong>Art. 77 DSGVO i. V. m. § 19 BDSG – Recht auf Beschwerde bei einer Aufsichtsbehörde</strong>: Sie haben das Recht, jederzeit Beschwerde bei einer Aufsichtsbehörde, insbesondere in dem Mitgliedstaat ihres Aufenthaltsorts, ihres Arbeitsplatzes oder des Orts des mutmaßlichen Verstoßes, einzulegen, wenn Sie der Ansicht sind, dass die Verarbeitung der sie betreffenden personenbezogenen Daten gegen geltendes Recht verstößt.</p></li>
        </ul>

        <h3 id="vipflichtzurbereitstellungvondaten" class="title has-text-dark">VI. Pflicht zur Bereitstellung von Daten</h3>

        <p>Sie haben keine vertragliche oder gesetzliche Pflicht uns personenbezogene Daten bereitzustellen. Allerdings sind wir ohne die von Ihnen mitgeteilten Daten nicht in der Lage, Ihnen unsere Services anzubieten.</p>

        <h3 id="viibestehenvonautomatisiertenentscheidungsfindungeneinschlielichprofiling" class="title has-text-dark">VII. Bestehen von automatisierten Entscheidungsfindungen (einschließlich Profiling)</h3>

        <p>Wir verwenden keine automatisierten Entscheidungsfindungen, die Ihnen gegenüber rechtliche Wirkungen entfaltet oder Sie beeinträchtigt.</p>

        <h3 id="viiiinternetspezifischedatenverarbeitungen" class="title has-text-dark">VIII. Internetspezifische Datenverarbeitungen</h3>

        <!-- <p>Während der Nutzung unserer Internetseiten werden durch uns automatisch technische Zugriffsdaten aufgezeichnet und ausgewertet. Hierfür benutzen wir das Tool "Matomo" (ehemals „Piwik“), ein Open-Source-Programm für Webanalytik, welches statistische Kennwerte zur Nutzung unserer Website auswertet. Diese Daten können jedoch nicht einer bestimmten Person zugeordnet werden; der einzelne Benutzer bleibt hierbei anonym. Weitere Informationen zu "Matomo" finden Sie auf der Website https://matomo.org.</p> -->

        <p>Zu diesen Daten gehören zum Beispiel</p>

        <ul>
          <li>Die um die letzten beiden Oktette gekürzte IP-Adresse,</li>
          <li>Informationen über den verwendeten Internet-Browser und das verwendete Betriebssystem,</li>
          <li>der Domain-Name der Website, von der aus ein Besuch unserer Internet-Seiten erfolgt,</li>
          <li>die durchschnittliche Verweildauer in unserem Angebot und</li>
          <li>die in unserer Web-Site aufgerufenen Seiten.</li>
        </ul>

         <h3 id="viiiinternetspezifischedatenverarbeitungen" class="title has-text-dark">IX. Newsletter</h3>

        <p>Auf unserer Website können Sie sich für unseren Newsletter anmelden um Neuigkeiten zu unseren Projekten und Veranstaltungen zu erhalten. Dabei verwenden wir das so genannte Double-Opt-In Verfahren, das heißt, die Anmeldung wird erst gültig wenn Sie sie in einer von uns erhaltenen E-Mail erneut bestätigen.</p>

        <p>Zum Verschicken der Newsletter verwenden wir <a href="https://mailchimp.com" target="_blank">MailChimp</a>, MailChimp speichert dafür Ihre E-Mail Adresse und Informationen zur Erfolgsanalyse.</p>
        
        <p>Sie können sich durch einen Link im Newsletter jederzeit vom Newsletter abmelden. Alternativ können Sie uns eine Nachricht an lab@codeforhamburg.org schicken.</p>

        <ul>
          <li>Die um die letzten beiden Oktette gekürzte IP-Adresse,</li>
          <li>Informationen über den verwendeten Internet-Browser und das verwendete Betriebssystem,</li>
          <li>der Domain-Name der Website, von der aus ein Besuch unserer Internet-Seiten erfolgt,</li>
          <li>die durchschnittliche Verweildauer in unserem Angebot und</li>
          <li>die in unserer Web-Site aufgerufenen Seiten.</li>
        </ul>
<!--
        <p>Für die Nutzung von Matomo verwenden wir sogenannte „Cookies“. Hierbei handelt es sich um kleine Textdateien, die ein Webserver an ihren Computer senden kann, um diesen für die Dauer des Besuches zu identifizieren. Wir setzen die beiden Session Cookies pk<em>ses sowie die persistenten Cookies pk</em>id und pk_ref ein. Über diese Cookies erfassen wir keine personenbezogenen Daten von Ihnen.</p>

        <p>pk<em>ses wird grundsätzlich nach dem Beenden Ihrer Browsersitzung gelöscht, lediglich bei pk</em>id und pk_ref handelt es sich um ein über eine Browsersitzung hinaus bestehendes (sog. persistentes) Cookie, anhand dessen wir erkennen können, wann ein Nutzer unsere Seite erneut besucht. Sofern Sie das Cookie nicht selbst entfernen, löscht es sich nach 1 Jahr bzw. 6 Monaten selbständig.</p>

        <p>Die Darstellung unserer Internetseite ist auch ohne Speicherung von Cookies möglich. Sie können das Speichern von Cookies in den Einstellungen ihres Browsers deaktivieren oder diesen so einstellen, dass er Sie über die beabsichtigte Speicherung durch eine Internetseite informiert. In diesem Fall entscheiden Sie über die Annahme des Cookies.</p>

        <p>Zudem können durch die Entfernung des folgenden <a href="https://traffic.okfn.de/index.php?module=CoreAdminHome&amp;action=optOut&amp;language=de">Hakens</a> verhindern, dass wir mittels Matomo Analyse-Cookies auf Ihrem Endgerät setzen. In diesem Fall wird ein Cookie gesetzt um uns zu signalisieren, dass Sie der Nutzung widersprochen haben.</p>

        <p>Bitte beachten Sie, dass die jeweiligen Einstellungen bzgl. Cookies nur für Ihr aktuell benutztes Gerät und Ihren aktuell benutzten Browser wirksam sind. Sollten Sie ein anderes Gerät oder einen anderen Browser benutzen, müssen Sie in der Regel die Einstellungen erneut vornehmen. Zudem unterstützen wir die „Do not Track“ Funktion Ihres Browsers. Hiermit können Sie uns aktiv über Ihre Browsereinstellungen mitteilen, ob Sie eine Aufzeichnung Ihrer Aktivitäten wünschen oder nicht. Haben Sie „Do not Track“ aktiviert, erfolgt keine Aufzeichnung Ihrer Aktivitäten.</p>

        <p>Die Rechtsgrundlage für die Verwendung von Matomo findet sich in Art. 6 Abs. 1 lit. f) DS-GVO. Unser berechtigtes Interesse besteht darin, dass wir die Nutzung unserer Website zu deren Verbesserung und Optimierung auswerten. Die so erfassten Daten werden für einen Zeitraum von 24 Monaten gespeichert.</p>

        <h3 id="ixwennsieanmerkungenoderfragenhaben" class="title has-text-dark">IX. Wenn Sie Anmerkungen oder Fragen haben</h3>

        <p>Wir treffen alle erdenklichen Vorkehrungen zum Schutz und zur Sicherheit Ihrer Daten. Ihre Fragen und Kommentare zum Datenschutz sind uns willkommen, schreiben Sie einfach eine Mail an info@okfn.de.</p>
-->
        <p>Hamburg, Januar 2020</p>
      </div>
    </section>
  </div>
</template>

<script>

export default {
}
</script>

<style lang="scss">
  @import "@/assets/_variables.scss";
</style>
