<template>
  <div>
    <section class="section ls-features-cards">
      <div class="container">
        <div class="columns">
          <div class="column is-8-desktop is-offset-2-desktop">
            <div class="ls-section-content has-text-centered">
              <h3 class="title has-text-dark">Für offene Projekte, für eine offene Gesellschaft.</h3>
              <p class="content has-text-grey is-size-5">
                Wir verbreiten den Open Data Gedanken. Wir helfen Dir gerne dabei, dein Projekt zu starten!
              </p>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column is-one-third">
            <article class="card ls-feature-card">
              <div class="card-content">
                <figure class="image is-159x159">
                  <img
                    src="../assets/img/ui-icon.png"
                    srcset="../assets/img/ui-icon@2x.png 320w, ../assets/img/ui-icon@3x.png 400w, ../assets/img/ui-icon@3x.png 1024w"
                    width="145"
                    height="159"
                  />
                </figure>

                <div class="media-content has-text-centered">
                  <h3 class="title is-5 has-text-weight-bold">
                    <a href="/" class="has-text-dark" title>Netzwerk</a>
                  </h3>
                  <p class="is-size-6">Als aktiver Teil des Code for Germany Netzwerks (<a href="https://codefor.de" target="_blank">codefor.de</a>) 
                    sowie der Organisation des jährlich stattfindenden "FORUM Offene Stadt"
                    <a href="hhtps://offenestadt.info" target="_blank">offenestadt.info</a>
                    wächst unser Netzwerk zu IT-Spezialisten aus der Verwaltung und Zivilgesellschaft sowie zu verschiedensten Nicht-Regierungsorganisationen von Jahr zu Jahr! 
                  </p>
                </div>
              </div>
            </article>
          </div>
          <div class="column is-one-third">
            <article class="card ls-feature-card">
              <div class="card-content">
                <figure class="image is-159x159">
                  <img
                    src="../assets/img/ux-icon.png"
                    srcset="../assets/img/ux-icon@2x.png 320w, ../assets/img/ux-icon@3x.png 400w, ../assets/img/ux-icon@3x.png 1024w"
                    width="145"
                    height="159"
                  />
                </figure>

                <div class="media-content has-text-centered">
                  <h3 class="title is-5 has-text-weight-bold">
                    <a href="/" class="has-text-dark" title>Events & Workshops</a>
                  </h3>
                  <p class="is-size-6"> Bei unserer Projektbörse bringen wir Programmierer, Designer und Ideengeber an einen Tisch.
                                       Wir geben OpenData Workshops an der Uni und basteln mit Kids bei der CodeWeek.
                  </p>
                </div>
              </div>
            </article>
          </div>
          <div class="column is-one-third">
            <article class="card ls-feature-card">
              <div class="card-content">
                <figure class="image is-159x159">
                  <img
                    src="../assets/img/performance-icon.png"
                    srcset="../assets/img/performance-icon@2x.png 320w, ../assets/img/performance-icon@3x.png 400w, ../assets/img/performance-icon@3x.png 1024w"
                    width="145"
                    height="159"
                  />
                </figure>

                <div class="media-content has-text-centered">
                  <h3 class="title is-5 has-text-weight-bold">
                    <a href="/" class="has-text-dark" title>Unterstützung</a>
                  </h3>
                  <p class="is-size-6">Wir helfen dir ehrenamtlich mit Einweisung in Tools, Hilfe beim Programmieren und Design. Und können dir und deinem Team einen Schreibtisch oder Meetingraum zur Verfügung stellen.</p>
                </div>
              </div>
            </article>
          </div>
        </div>
        <div class="columns">
          <div class="column is-one-third">
            <article class="card ls-feature-card">
              <div class="card-content">
                <figure class="image is-159x159">
                  <img
                    src="../assets/img/ui-icon.png"
                    srcset="../assets/img/ui-icon@2x.png 320w, ../assets/img/ui-icon@3x.png 400w, ../assets/img/ui-icon@3x.png 1024w"
                    width="145"
                    height="159"
                  />
                </figure>

                <div class="media-content has-text-centered">
                  <h3 class="title is-5 has-text-weight-bold">
                    <a href="/" class="has-text-dark" title>Open Data</a>
                  </h3>
                  <p class="is-size-6">Mehr Transparenz und Zusammenarbeit durch frei verfügbare Daten</p>
                </div>
              </div>
            </article>
          </div>
          <div class="column is-one-third">
            <article class="card ls-feature-card">
              <div class="card-content">
                <figure class="image is-159x159">
                  <img
                    src="../assets/img/performance-icon.png"
                    srcset="../assets/img/performance-icon@2x.png 320w, ../assets/img/performance-icon@3x.png 400w, ../assets/img/performance-icon@3x.png 1024w"
                    width="145"
                    height="159"
                  />
                </figure>

                <div class="media-content has-text-centered">
                  <h3 class="title is-5 has-text-weight-bold">
                    <a href="/" class="has-text-dark" title>Digitalität vor Ort</a>
                  </h3>
                  <p class="is-size-6">Reine Digitalisierung funktioniert nicht. Es sind und bleiben die Menschen, die Computer 
                    und Software als Werkzeuge nutzen. Deshalb treffen wir uns regelmäßig und physisch vor Ort im Labor um diese stetig weiter entwickeln.</p>
                </div>
              </div>
            </article>
          </div>
          <div class="column is-one-third">
            <article class="card ls-feature-card">
              <div class="card-content">
                <figure class="image is-159x159">
                  <img
                    src="../assets/img/ux-icon.png"
                    srcset="../assets/img/ux-icon@2x.png 320w, ../assets/img/ux-icon@3x.png 400w, ../assets/img/ux-icon@3x.png 1024w"
                    width="145"
                    height="159"
                  />
                </figure>

                <div class="media-content has-text-centered">
                  <h3 class="title is-5 has-text-weight-bold">
                    <a href="/" class="has-text-dark" title>Open Source</a>
                  </h3>
                  <p class="is-size-6">Für uns bedeutet das "Open Source Prinzipal" die Freiheit "einfach" machen zu können. Wir verstehen darunter, das Software-Quellcode 
                    allgemein und frei zugänglich veröffentlicht wird und unter eine klare Lizenz gestellt wird. Anders ausgedrückt: 
                    Es führt zu Investitions- und Rechtssicherheit!</p>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
      
    </section>

    <section class="section has-background-primary ls-hero-image">
      <div class="container">
        <div class="columns">
          <div class="column is-4 has-text-white">
            <h4 class="title is-3 has-text-white">"Openess" gewinnt.</h4>
            <div class="content">
              <p>
                Zumindest im Technologie-Sektor. Offene Technologien und offenen Daten nutzen wir jeden Tag. Egal ob der Browser, mit dem Du dir 
                diese Website gerade anguckst oder Wikipedia. Wir, als Code for Hamburg Lab, stellen uns da die Frage: 
                Warum erweitern wir dieses offene Wissensprinzip nicht z.B. 
                auf andere Bereiche und gestalten offene, innovative, zukunftsorientierte Kulturinstitutionen oder öffentliche
                Verwaltungen? 
              </p>
              <p>
                Es geht. Jeweils mit Augenmaß und anschlussfähigen Konzepten. Dafür immer nachhaltig.
              </p>
            </div>
          </div>
          <div class="column right is-6-desktop is-offset-1-desktop">
            <img class="ls-main-hero--image" src="../assets/img/openess.jpg" title="Photo by Tim Mossholder from Pexels" />
          </div>
        </div>
      </div>
    </section>

    <section class="section ls-cards-grid" id="projekte">
      <div class="container">
        <div class="columns">
          <div class="column is-8 is-offset-2">
            <div class="ls-section-content has-text-centered">
              <h3 class="title has-text-dark">Aktuelle Projekte, Ideen &amp; Prototypen</h3>
              <p class="content has-text-grey is-size-5">
                Bei Code for Hamburg schmieden wir Projekte, haben viel zu viele Ideen und basteln Prototypen. 
                Dazu lieben wir es Veranstaltungen zu organisieren, zu finden unter:
                <a href="https://meetup.com/codeforhamburg">meetup.com/codeforhamburg</a>                
              </p>
            </div>
          </div>
        </div>

        <div class="columns is-multiline is-mobile">

          <div v-for="project in projects" v-bind:key="project.id" class="column is-one-third-desktop is-half-tablet is-full-mobile">
            <article class="card ls-card">
              <div class="card-image">
                <figure class="image"><img :src="project.img" style="height: 217px" /></figure>
              </div>
              <div class="card-content">
                <div class="buttons">
                  <p style="padding:0 15px 0 0">{{project.type}} - {{project.status}}</p>
                  <a v-for="link in project.links" v-bind:key="link.name" class="button is-small" :href="link.url" target="_blank">{{link.name}}</a>
                  <a v-if="project.mail" class="button" :href="'mailto:' + project.mail + '?subject=Infos zum ' + project.title + ' Projekt'" title="Ansprechpartner">AP: {{project.supervisor}}</a>
                  <a v-else class="button" :href="'mailto:info@codeforhamburg.org?subject=Infos zum ' + project.title + ' Projekt'" title="Ansprechpartner">Kontakt</a>
                </div>
                <div class="content">
                  <div class="title has-text-weight-bold is-5 has-text-dark">{{project.title}}</div>
                  <p>{{project.desc}}</p>
                </div>
              </div>
            </article>
          </div>
          
        </div>
      </div>
    </section>

    <section class="section ls-cards-grid" id="freunde">
      <div class="container">
        <div class="columns">
          <div class="column is-8 is-offset-2">
            <div class="ls-section-content has-text-centered">
              <h3 class="title has-text-dark">Freunde & Unterstützer</h3>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column is-12">
            <div class="ls-section-content has-text-centered">
              <mindmap id="network-mindmap" :nodes="nodes" :connections="connections" :editable="false" />
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section ls-cards-grid" id="kontakt">
      <div class="container">
        <div class="columns">
          <div class="column is-8 is-offset-2">
            <div class="ls-section-content has-text-centered">
              <h3 class="title has-text-dark">Kontakt</h3>
            </div>
          </div>
        </div>
        <div>
          <div class="columns">
            <div class="column is-10 is-offset-1 has-text-centered">
              <p>
                Du willst mitmachen, hast konstruktive Kritik oder Fragen zu uns und unseren Projekten? Dann schreib uns!
                <br>
                <br>
                Am besten erreichst du uns per Mail an <a href="mailto:info@codeforhamburg.org">info@codeforhamburg.org</a>
                oder über unseren <a href="https://twitter.com/codeforhamburg" target="_blank">Twitter</a>-Account.
                <br>
                <br>
                Bitte beachte: Wir sind im Ehrenamt unterwegs und brauchen unter Umständen ein paar Tage zur Beantwortung.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
</template>

<script>
import mindmap from "../data/mindmap";

export default {
  name: 'Main',
  data () {
    return {
      ... mindmap,
      projects:[
        { id:1, 
          title:'Forum Offene Stadt', 
          type: 'Event',
          status: 'aktiv',
          img: require('../assets/img/projekte/offene-stadt.jpg'), 
          links: [{'name': 'Website', 'url': 'https://offenestadt.info'},
                  {'name': 'Flickr', 'url': 'https://www.flickr.com/photos/okfde/albums/72157711775343936'}], 
          desc: "Wie können uns offene digitale Lösungen dabei helfen, unsere Stadt und Region mitzugestalten? Dieser Frage gehen wir am 8. November in unterhaltsamen Talks, praktischen Workshops und einer interaktiven Ausstellung im KörberForum nach." },
        { id:2, 
          title:'Strassenlotse', 
          type: 'Website / App',
          status: 'aktiv',
          supervisor: 'Tom Friedel',
          mail:"koordination@strassenlotse.hamburg",
          img: require('../assets/img/projekte/strassenlotse.png'), 
          links: [{'name': 'In Hamburg', 'url': 'https://strassenlotse.hamburg'},
                  {'name': 'In Stuttgart', 'url': 'https://strassenlotse-stuttgart.de'}], 
          desc: "Wir versorgen Wohnungslose mit wichtigen Infos aus ihrer Stadt" },
        { id:3, 
          title:'Community Forum des Transparenzportals', 
          type: 'Website',
          status: 'aktiv',
          img: require('../assets/img/projekte/community_forum.png'), 
          links: [{'name': 'Website', 'url': 'https://community.codeforhamburg.org/c/tphh'}], 
          desc: "Das Hamburger Transparenzportal liefert offene Daten aus der Verwaltung. Wir liefern das Cmmunity Forum." },
        { id:4, 
          title:'Open Data Workshop', 
          type: 'Workshop',
          status: 'auf Anfrage',
          img: require('../assets/img/projekte/workshop.jpg'), 
          links: [], 
          desc: 'Wir geben Workshops zum Thema Open Data \\o/' },
        { id:5,
          title:'Buntflächen',
          type: 'Website',
          status: 'Idee',
          supervisor: 'Feena Fensky',
          mail: 'feena@codeforhamburg.org',
          img: require('../assets/img/projekte/buntflaechen.jpg'), 
          links: [],
          desc: 'Grünflächenpatenschaften zeigen und vernetzen'},
        { id:6, 
          title:'Trinkwasser App', 
          type: 'Website',
          status: 'inaktiv',
          img: require('../assets/img/projekte/trinkwasser.jpg'), 
          links: [{'name': 'Website', 'url': 'http://codeforhamburg.org/trinkwasser'}], 
          desc: "Unsere Trinkwasser App zeigt dir woher dein Wasser kommt, was drin ist und wie gut es im Vergleich zu gekauftem Wasser abschneidet." },
        { id:7, 
          title:'Klimawatch',
          type: 'Website',
          status: 'inaktiv',
          supervisor: 'Tom Friedel',
          mail: 'tom@codeforhamburg.org',
          img: require('../assets/img/projekte/klimawatch.jpg'), 
          links: [{'name': 'Website', 'url': 'https://klimawatch.codefor.de/'}],
          desc: 'Wie steht es um Hamburgs Klimaschutz? Wir informieren dich' },
        { id:8, 
          title:'Feinstaub-Ente',
          type: 'Prototyp',
          status: 'abgeschlossen',
          supervisor: 'Tom Friedel',
          mail: 'tom@codeforhamburg.org',
          img: require('../assets/img/projekte/feinstaub-ente.jpg'), 
          links: [{'name': 'Gitlab', 'url': 'https://gitlab.com/codeforhamburg/feinstaub-ente'}], 
          desc: "Unsere stylische Ente zeigt dir die Daten unserer Feistaub-Sensoren an. Quack!" },
        { id:9, 
          title:'Feinstaubsensor Workshops', 
          type: 'Workshop',
          status: 'abgeschlossen',
          img: require('../assets/img/projekte/feinstaub_sensor.jpg'), 
          links: [], 
          desc: "Egal ob bei uns, in der Schule oder auf der CodeWeek. Wir gaben Workshops zum Thema Feinstaub selber messen und allem drum und dran." },
        { id:10, 
          title:'Corooooooona',
          type: 'Visualisierung',
          status: 'abgeschlossen',
          img: require('../assets/img/projekte/corooooooona.png'),
          links: [{'name': 'Website', 'url': 'https://codeforhamburg.gitlab.io/corooooooona/'}],
          desc: 'Den Höchststand der weltweite Corona Infektions- und Sterblichkeitsrate visualisiert.'},
        { id:11, 
          title:'Code for Germany Summit 2019', 
          type: 'Event',
          status: 'abgeschlossen',
          img: require('../assets/img/projekte/summit.png'), 
          links: [{'name': 'Website', 'url': 'https://codefor.de/summit'},
                  {'name': 'Flickr', 'url': 'https://www.flickr.com/photos/okfde/albums/72157711775767122'}], 
          desc: "Unser Community Event für alle CodeForGermany Labs." },
        { id:12, 
          title:'Code for Hamburg hilft den Helfer*innen',
          type: 'Hilfestellung',
          status: 'abgeschlossen',
          img: require('../assets/img/projekte/hilfe_fuer_helfer.jpg'),
          links: [{'name': 'Website', 'url': 'https://codeforhamburg.org/#/2020/Corona-Hilfe'}],
          desc: 'Wir boten ehrenamtlichen Vereinen und Organisationen digitale Hilfe bei Corona Herausforderungen an.'}
      ] 
    }
  },
  mounted () {
    if (this.$route.hash) {
      setTimeout(() => this.scrollTo(this.$route.hash), 1)
    }

    document.getElementById('network-mindmap').firstChild.setAttribute('viewBox','-300 -660 750 780')

    // init mailchimp
    window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us19.list-manage.com","uuid":"71b1d9650239d4a5e73cfcc81","lid":"dba53f0bac","uniqueMethods":true}) })
  },
  methods: {
    scrollTo: function (hashtag) {
      
      setTimeout(() => { location.href = hashtag }, 1)
    }
  }
}
</script>

<style lang="scss">
  @import "@/assets/_variables.scss";

  .ls-feature-card {
    height: 100%;

    .card-content {
      height:100%;
    }
  }

  .mindmap-svg {
    height: 60vh !important;
    background: $primary;
  }
</style>
