<template>
  <div>    
    <section class="">
      <div class="hero-body container">
        <h1 class="title is-size-2-mobile is-1 is-spaced">Satzung</h1>
        <p>
          Satzung von Code for Hamburg von der Gründungsversammlung vom 28.10.2018 in Hamburg in der Fassung vom 31.07.2019.
        </p>

        <h2>§1 Name, Sitz und Geschäftsjahr</h2>
        <p>
          1.1. Der Verein führt den Namen Code for Hamburg.<br>
          1.2. Der Verein hat seinen Sitz in Hamburg.<br>
          1.3. Er wird im Vereinsregister des Amtsgerichts Hamburg eingetragen. Nach der Eintragung
          wird dem Namen der Zusatz eingetragener Verein (e.V.) angefügt und heißt dann:
          Code for Hamburg e.V.<br>
          1.4. Geschäftsjahr ist das Kalenderjahr.<br>
        </p>

        <h2>§2 Zweck des Vereins</h2>
        <p>
          2.1. Der Verein verfolgt ausschließlich und unmittelbar gemeinnützige Zwecke im Sinne des
          Abschnitts „Steuerbegünstigte Zwecke“ der Abgabenordnung.<br>
          2.2. Zweck des Vereins ist die Förderung der Volksbildung und die Förderung von
          Wissenschaft und Forschung.<br>
          Der Verein fördert den freien und ungehinderten Zugang der Bürgerinnen und Bürger zu
          Bildung und Wissen mit dem Ziel der Stärkung der Volksbildung und der Förderung der
          Wissensgesellschaft und einer aktiven Bürgergesellschaft. 
          <br>
          <br>
          Der Satzungszweck wird verwirklicht insbesondere durch:<br>
          <ul>
            <li>
              Die Durchführung und Begleitung von wissenschaftlichen und kulturellen
              Veranstaltungen (Workshops, Seminare, Arbeitsgruppen,
              Informationsveranstaltungen und Vorträgen) zu verschiedenen Themen rund um
              Digitalität, Bürgerbeteiligung, Offenen Daten und freiem Wissenszugang.
            </li>
            <li>
              Die Förderung von Wissenschaft und Forschung durch Pilotprojekte interdisziplinärer
              wissenschaftlicher Art sowie durch qualitative und quantitative wissenschaftliche
              Studien sowie deren Veröffentlichung.
            </li>
            <li>
              Offene Digitalität zu verbinden insbesondere mit den Themen politische Bildung,
              Umweltschutz und Nachhaltigkeit, politischer, sozialer und kultureller
              Bürgerbeteiligung auf der Basis von offenem Wissen, offenen Daten und offenen
              Technologien. Unter Offener Digitalität fassen wir die Themen Open Data, Open
              Government und Open Source zusammen. „Offen“ bedeutet in diesem Zusammenhang, dass Daten, Informationen zu Verwaltungshandeln und Software-
              Code frei zugänglich zur Verfügung stehen bzw. gestellt werden.
            </li>
            <li>
              Offene Daten sind Daten, die von jedermann frei verwendet, nachgenutzt und
              verbreitet werden können – maximal eingeschränkt durch Pflichten zur
              Quellennennung und dem Prinzip des „share-alike”, d. h. Daten nur unter
              unveränderten urheberrechtlichen Nutzungsmöglichkeiten zu teilen. Davon
              ausgenommen sind persönliche Daten.
            </li>
            <li>
              Die Förderung der Veröffentlichung und dem Einsatz von offenen Daten mit dem
              Schwerpunkt für alle Bürgerinnen und Bürger nützliche Anwendungen zu
              ermöglichen und hohe Transparenz bei Behörden und Verwaltungen zu schaffen.
            </li>
            <li>
              Mittel einzuwerben und zu verwalten, um die vorgenannten Ziele zu realisieren.
            </li>
          </ul>
        </p>

        <h2>§3 Gemeinnützigkeit</h2>
        <p>
          3.1. Der Verein ist selbstlos tätig. Er verfolgt nicht in erster Linie eigenwirtschaftliche Zwecke.<br>
          3.2. Die Mittel des Vereins dürfen nur für die satzungsmäßigen Zwecke verwendet werden.
          Die Mitglieder erhalten keine Zuwendungen aus Mitteln des Vereins.<br>
          3.3. Es darf keine Person durch Ausgaben, die dem Zweck des Vereins fremd sind, oder
          durch unverhältnismäßig hohe Vergütungen begünstigt werden.
        </p>

        <h2>§4 Erwerb der Mitgliedschaft, Beiträge</h2>
        <p>
          4.1. Ordentliche Mitglieder des Vereins können alle natürlichen Personen werden, die bereit
          sind, die in §2 genannten Zwecke und Ziele des Vereins ideell oder materiell zu unterstützen.<br>
          4.2. Förderndes Mitglied kann jede natürliche oder juristische Person werden, die über die
          Anerkennung und Förderung der in §2 genannten Zwecke und Ziele von Code for Hamburg
          hinaus finanzielle bzw. materielle Mittel für die Tätigkeit des Vereins zur Verfügung stellen
          oder den Verein in anderer Weise fördern will. Die Fördermitglieder haben das Recht, über
          die Tätigkeiten des Vereins informiert zu werden und an den Mitgliederversammlungen ohne
          Stimmrecht teilzunehmen.<br>
          4.3. Jedes ordentliche Mitglied hat in der Mitgliederversammlung eine Stimme. Fördernde
          Mitglieder haben kein Stimmrecht.<br>
          4.4. Für die Mitgliedschaft ist ein schriftlicher Aufnahmeantrag zu stellen. Über den
          schriftlichen Aufnahmeantrag entscheidet der Vorstand innerhalb von drei Monaten
          abschließend und endgültig.<br>
          4.5. Von den Mitgliedern werden Beiträge erhoben. Die Höhe der Beiträge und deren
          Fälligkeit werden in einer Beitragsordnung geregelt, die von der Mitgliederversammlung
          bestimmt wird.<br>
          4.6. Der Vorstand kann in geeigneten Fällen Beiträge ganz oder teilweise erlassen bzw.
          stunden.<br>
          4.7. Die Mitgliederversammlung kann über die Gebührenbefreiung einzelner Mitglieder
          entscheiden.
        </p>

        <h2>§5 Beendigung der Mitgliedschaft</h2>
        <p>
          5.1. Die Mitgliedschaft endet durch Austritt, Ausschluss oder Tod, bei juristischen Personen
          auch durch Verlust der Rechtspersönlichkeit. Der Austritt eines Mitgliedes ist jederzeit
          möglich. Er erfolgt durch schriftliche Erklärung gegenüber einem vertretungsberechtigten
          Vorstandsmitglied unter Einhaltung einer Frist von einem Monat zum Ende des
          Geschäftsjahres und muss gegenüber dem Vorstand erklärt werden.<br>
          5.2. Ein Ausschluss kann nur aus wichtigem Grund erfolgen. Wichtige Gründe sind
          insbesondere ein die Vereinsziele schädigendes Verhalten, die Verletzung satzungsmäßiger
          Pflichten, ein Zuwiderhandeln gegen den Code of Conduct, oder Beitragsrückstände von
          mindestens einem Jahr. Über den Ausschluss entscheidet der Vorstand.<br>
          5.3. Bei Beendigung der Mitgliedschaft, gleich aus welchem Grund, erlöschen alle
          Ansprüche aus dem Mitgliedsverhältnis. Eine Rückgewähr von Beiträgen, Spenden oder
          sonstigen Unterstützungsleistungen ist grundsätzlich ausgeschlossen. Der Anspruch des
          Vereins auf rückständige Beitragsforderungen bleibt hiervon unberührt.
        </p>

        <h2>§6 Organe des Vereins</h2>
        <p>
          Die Organe des Vereins sind<br>
          ● die Mitgliederversammlung,<br>
          ● der Vorstand.
        </p>

        <h2>§7 Mitgliederversammlung</h2>
        <p>
          7.1. Der Mitgliederversammlung gehören alle ordentlichen Vereinsmitglieder mit je einer
          Stimme an.<br>
          7.2. In jedem Geschäftsjahr findet eine ordentliche Mitgliederversammlung statt. Sie wird
          vom Vorstand schriftlich oder in elektronischer Form als E-Mail unter Angabe der
          Tagesordnung einberufen. Wahlen bzw. Abwahlen von Vorstandsmitgliedern und
          Änderungen dieser Satzung bedürfen der ausdrücklichen Nennung in der Tagesordnung, mit
          der eingeladen wird. Weitere Tagesordnungspunkte können von jedem Mitglied eingereicht
          werden. Sie sind auf die Tagesordnung in der vom Vorstand gewählten Reihenfolge zu
          setzen. Weitere Tagesordnungspunkte können durch Mehrheitsbeschluss der
          Mitgliederversammlung der Tagesordnung hinzugefügt werden. Die Einladungsfrist beträgt
          zwei Wochen. Die Frist beginnt mit dem auf die Absendung des Einladungsschreibens
          folgenden Tag. Das Einladungsschreiben gilt dem Mitglied als zugegangen, wenn es an die
          letzte vom Mitglied des Vereins schriftlich bekannt gegebene Adresse / E-Mail Adresse
          gerichtet ist.<br>
          7.3. In bestimmten Situationen und wenn es die Verfolgung der Vereinszwecke erfordert,
          kann eine außerordentliche Mitgliederversammlung einberufen werden. Auf schriftliches
          Verlangen von mindestens einem Drittel aller Vereinsmitglieder hat der Vorstand binnen zwei
          Wochen eine außerordentliche Mitgliederversammlung einzuberufen. Dem Antrag der
          Mitglieder muss der gewünschte Tagesordnungspunkt zu entnehmen sein.<br>
          7.4. Die Mitgliederversammlung ist bei ordnungsgemäßer Einladung beschlussfähig ohne
          Rücksicht auf die Anzahl der Erschienenen. Sie wählt aus ihrer Mitte einen
          Versammlungsleiter. Beschlüsse werden, sofern die Versammlung nicht etwas anderes
          bestimmt, offen durch Handaufheben mit Stimmenmehrheit getroffen. Eine geheime
          Abstimmung bzw. Wahl ist auf Antrag des Sitzungsleiters oder von einem Viertel der
          Stimmberechtigten Anwesenden durchzuführen. Bei Stimmengleichheit gilt ein Antrag als
          abgelehnt.<br>
          7.5. Zu Satzungsänderungen und zu Beschlüssen über die Auflösung des Vereins ist
          abweichend von Abs. 7.4 Drei-Viertel der in der Mitgliederversammlung abgegebenen
          Stimmen erforderlich.<br>
          7.6. Über die Beschlüsse der Mitgliederversammlung ist ein Protokoll anzufertigen, das vom
          Versammlungsleiter und dem Schriftführer zu unterzeichnen ist. Die Protokolle stehen den
          Mitgliedern zur Einsicht zur Verfügung.
        </p>

        <h2>§8 Aufgaben der Mitgliederversammlung</h2>
        <p>
          8.1. Der Mitgliederversammlung als beschlussfassendes Vereinsorgan obliegen alle
          Aufgaben, es sei denn, diese sind ausdrücklich laut Satzung einem anderen Vereinsorgan
          übertragen worden.<br>
          8.2. Die Mitgliederversammlung wählt aus der Reihe der ordentlichen Mitglieder den
          Vorstand. Gewählt sind die Personen, die die meisten Stimmen auf sich vereinigen. Die
          Wahl findet offen durch Handaufheben statt. Eine geheime Abstimmung bzw. Wahl ist auf
          Antrag des Sitzungsleiters oder von einem Viertel der Stimmberechtigten Anwesenden
          durchzuführen.<br>
          8.3. Die Mitgliederversammlung kann Mitglieder des Vorstandes abwählen. Hierzu benötigt
          sie die einfache Mehrheit der Stimmen der Anwesenden.<br>
          8.4. Die Mitgliederversammlung entlastet den Vorstand nach Entgegennahme des jährlich
          schriftlich vorzulegenden Geschäftsberichts / Jahresberichts des Vorstandes und des
          Prüfungsberichts des Kassenprüfers.<br>
          8.5. Die Mitgliederversammlung hat über Satzungsänderungen und Vereinsauflösungen zu beschließen.
          <br>
          <br>
          8.6. Außerdem entscheidet die Mitgliederversammlung über folgende Punkte:<br>
          <ul>
            <li>Satzungsänderungen</li>
            <li>zusätzliche Aufgaben des Vereins</li>
            <li>Höhe der Mitgliedsbeiträge</li>
            <li>Gebührenbefreiungen einzelner Mitglieder</li>
            <li>Belastung von Vereinsvermögen und Grundbesitz</li>
            <li>Beteiligung an Gesellschaften</li>
            <li>Genehmigung aller Geschäftsordnungen</li>
            <li>Auflösung des Vereins</li>
            <li>weitere Angelegenheiten nach Vorlage durch Vorstand</li>
          </ul>
        </p>

        <h2>§9 Vorstand</h2>
        <p>
          9.1. Die Anzahl der Vorstandsmitglieder legt die Mitgliederversammlung durch einfache
                Mehrheit vor deren Wahl fest. Der Vorstand setzt sich jedoch mindestens aus dem
                Vorsitzenden und dem stellvertretenden Vorsitzenden zusammen. Die Amtszeit aller
                Vorstandsmitglieder beträgt zwei Jahre. Die Wiederwahl ist zulässig. Die jeweils amtierenden
                Vorstandsmitglieder bleiben nach Ablauf ihrer Amtszeit im Amt, bis Nachfolger gewählt sind.
                Der Vorstand arbeitet ehrenamtlich.<br>
          9.2. Der Vorstand wird von der Mitgliederversammlung gewählt.<br>
          9.3. Der Vorstand beschließt über alle Vereinsangelegenheiten, soweit sie nicht eines
          Beschlusses der Mitgliederversammlung bedürfen. Er führt die Beschlüsse der
          Mitgliederversammlung aus.<br>
          9.4. Der Vorstand tritt auf folgende Weise zusammen: Auf Verlangen eines
          Vorstandsmitgliedes nach Absprache mit den anderen Vorstandsmitgliedern.<br>
          9.5. Der Vorstand ist bei Anwesenheit von mindestens der Hälfte der Vorstandsmitglieder
          beschlussfähig. Er fasst Beschlüsse mit Stimmenmehrheit. Bei Stimmengleichheit gilt
          ein Antrag als abgelehnt. Beschlüsse des Vorstands können bei Eilbedürftigkeit auch
          schriftlich oder fernmündlich gefasst werden, wenn alle Vorstandsmitglieder ihre
          Zustimmung zu diesem Verfahren schriftlich oder fernmündlich erklären. Schriftlich oder
          fernmündlich gefasste Vorstandsbeschlüsse sind schriftlich niederzulegen und vom Vorstand
          zu unterzeichnen.<br>
          9.6. Der Verein wird gerichtlich und außergerichtlich von jeweils zwei
          Vorstandsmitgliedern gemeinsam vertreten.<br>
          9.7. Satzungsänderungen, die von Aufsichts-, Gerichts- oder Finanzbehörden aus formalen
          Gründen verlangt werden, kann der Vorstand von sich aus vornehmen. Diese
          Satzungsänderungen müssen der nächsten Mitgliederversammlung mitgeteilt werden.
        </p>

        <h2>§10 Kassenprüfer</h2>
        <p>
          10.1. Über die Mitgliederversammlung ist ein Kassenprüfer für die Dauer von einem Jahr zu
          wählen. Der Kassenprüfer hat die Aufgabe, Rechnungsbelege sowie deren
          ordnungsgemäße Verbuchung und die Mittelverwendung zu prüfen und dabei insbesondere
          die satzungsgemäße und steuerlich korrekte Mittelverwendung festzustellen. Die Prüfung
          erstreckt sich nicht auf die Zweckmäßigkeit der vom Vorstand getätigten Ausgaben.<br>
          10.2. Der Kassenprüfer hat die Mitgliederversammlung über das Ergebnis der
          Kassenprüfung zu unterrichten.<br>
          10.3. Der Kassenprüfer darf weder dem Vorstand noch einem vom Vorstand berufenen
          Gremium angehören und nicht Angestellter des Vereins sein.
        </p>

        <h2>§11 Auflösung des Vereins</h2>
        <p>
          11.1. Für den Fall der Auflösung des Vereins werden mindestens zwei Vorstandsmitglieder
          zu Liquidatoren ernannt. Zur Beschlussfassung der Liquidatoren ist eine Mehrheit der
          abgegebenen Stimmen erforderlich. Die Rechte und Pflichten der Liquidatoren bestimmen
          sich im Übrigen nach den Vorschriften des Bürgerlichen Gesetzbuches.<br>
          11.2. Bei Auflösung des Vereins oder bei Wegfall steuerbegünstigter Zwecke fällt das
          Vereinsvermögen an die Open Knowledge Foundation Deutschland e.V., die es unmittelbar
          und ausschließlich für gemeinnützige Zwecke zu verwenden hat.
        </p>

        <h2>§12 Inkraftsetzung</h2>
        <p>
          Diese Satzung tritt mit der Eintragung in das Vereinsregister in Kraft. Sie ersetzt die Satzung der
          Gründungsversammlung vom 28.10.2018 und die letzte Änderung vom 31.07.2019.
        </p>

      </div>
    </section>
  </div>
</template>

<script>

export default {
}
</script>

<style lang="scss" coped>
  @import "@/assets/_variables.scss";
  
  ul {
    margin: 0 0 0 20px;
    list-style: disc;
  }
  p {
    margin: 5px;
  }

  h2 {
    font-size: large;
    font-weight: bold;
  }
</style>
