<template>
  <div>

    <Header />

    <router-view :key="$route.fullPath"/>

    <Footer />

  </div>
</template>

<script>

import Header from '@/components/Header'
import Footer from '@/components/Footer'

export default {
  components: {
      Header,
      Footer
  }
}
</script>

<style lang="scss">
  @import "@/assets/_variables.scss";
</style>
